/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url("https://raw.githubusercontent.com/PyMasterWeb/REPO/refs/heads/main/postura-plana-conceito-de-mesa-com-espaco-de-copia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    text-align: center;
    height: 100%;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form textarea {
    width: 100%;
    max-width: 500px;
  }
  
  /* Layouts de Seções */
  section {
    margin: 20px 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    flex: 1 1 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #table-projetos {
    width:100%;
    height: 100%;
    text-align: center;
  }

  #profile {
    width: 150px;
    border-radius: 50%;
  }

  bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    /* Estilo básico da navbar */
    .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  /* Estilo dos itens da navbar */
  .nav-item {
      float: left;
  }

  /* Estilo dos links */
  .nav-item a {
      display: block;
      color: gray;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      /* Define a transição suave para as propriedades 'background-color' e 'color' */
      transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Efeito ao passar o mouse (houver) */
  .nav-item a:hover {
      background-color: rgb(24, 203, 226); /* Nova cor de fundo */
      color: rgb(0, 0, 0); /* Nova cor do texto */
  }
